<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/fontawesome.css">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <meta charset="UTF-8">
    <title>Login </title>
</head>

<body>

    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h2>Hello User, It is a quick to-do app.</h2>
                <br>
                <span class="spacer">
                    <a href="./register"><button>Registration</button></a>
                    <h3>to add to-do</h2>
                </span>
            </div>
        </div>


        <div class="right">
            <h5>Login</h5>
            <p class="add">Add your details :</p>
            <div class="inputs">
                <input type="text" placeholder="Your email">
                <br>
                <input type="text" placeholder="Your password">
            </div>

            <br><br>




            <a href="./"><button>Login</button></a>
        </div>

    </div>


</body>

</html>