.box-form {
    margin: 0 auto;
    width: 70%;
    /* height: 100%; */
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px rgb(14, 1, 28);
    animation: a 2s;
    animation-iteration-count: infinite;
}

@media (max-width: 700px) {
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
    }
}

.box-form .right {
    padding: 20px 300px;
    align-content: center;
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg"); */
    overflow: hidden;
}

.box-form div {
    height: auto;
}

.box-form .right {
    align-content: center;
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg"); */
    overflow: hidden;
}

.box-form .right h1{
    padding: 5px 105px;
    font-size: 45px;
    /* padding: 30px; */
    color: #49C628
    /* width: 100%;
    height: 100%;
    background: #49C628;
    overflow: hidden;
    box-sizing: border-box; */
}

.box-form .right .inputs {
    overflow: hidden;
}

.box-form .right input {
    width: 100%;
    padding: 12px 10px;
    /* padding: 10px; */
    margin-top: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}


.box-form .right button {
    /* float: right; */
    color: #fff;
    font-size: 16px;
    padding: 12px 150px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #0a2901a6;
    background-image: linear-gradient(135deg, #f570e3 10%, #49C628 100%);
}


.box-form .right p{
    color: #000;
    font-size: 18px;
    padding: 0px 100px
}

.box-form .right .para{
    color: #000;
    font-size: 18px;
    padding: 0px 60px
}